@import 'variables/colors';

* {
  box-sizing: border-box;
}

html,
body {
  background: #181818;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%;
}

input {
  appearance: none;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
  padding: 8px 10px;

  &:focus {
    box-shadow: 0 0 0 1px #2e2e2e, 0 0 0 2px #c9c9c9;
    outline: 0;
  }
}

label {
  color: #707070;
  cursor: pointer;
  font-size: 13px;
  margin: 10px 0;
}

.button {
  appearance: none;
  background: rgba(#fff, 0.2);
  border: 0;
  border-radius: 3px;
  color: #c9c9c9;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 8px 9px;
  text-align: center;
}
